<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/assets/primeng/resources/themes/omega/theme.css">
  <link rel="stylesheet" type="text/css" href="/assets/primeng/resources/primeng.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/leaflet/leaflet.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Icon -->
  <link rel="icon" href="/assets/img/favicon.png" />

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">
</head>

<body>
  <my-app>
    Loading...
  </my-app>
</body>
</html>
